<!DOCTYPE html>
<html lang="en">
    <head>

        <title>After School Activities</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <link rel="stylesheet" href="styles.css">

    </head>

    <body>
        <div id="app">
            <header style="background-color: rgb(62, 64, 66);">
                <div style="padding-bottom: 30px; padding-top: 1px;">
                    <div style="margin-left: 30px;">
                        <p style="font-size:40px;">{{ siteName }}</p>
                    </div>
                    <div id="chkBox">
                        <button v-on:click="showCheckout" id="chkBtn">
                            {{cartItemCount}}
                            <span class="fas fa-cart-plus"></span> Checkout
                        </button>
                    </div>
                </div>

            </header>

            <main>

                <!--Subject Page-->
                <div id="subjectDiv">
                    <div id="imgDiv">
                        <figure>
                            <img v-bind:src="subject.image">
                        </figure>
                    </div>
                    <div id="subjectText">
                        <p v-text="subject.title" style="font-size: 30px;"></p>
                        <p>Location: {{subject.location}}</p>
                        <p>Space: {{subject.space}}</p>
                        <p>Price: {{subject.price}}</p></p>

                        <button v-on:click="addToCart"
                        v-if="canAddToCart"> Add to cart </button>

                        <button 
                            disabled="disabled" v-else>
                                N/A
                        </button>
                        <span v-if="subject.availableSpaces === cartItemCount">
                            All Out!
                        </span>

                    </div>
                </div>

            </main>

        </div>
    <script type="text/javascript" src="scripts.js"></script>  
    </body>
</html>