#chkBox{
    width: 100%; 
    margin-top: 10px;
}

#chkBtn{
    font-weight: bold;
    position: absolute;
    right: 5%; 
}

p{
    font-weight: bold;
}

#subjectDiv{
    position: absolute;
    border-style:solid;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 2%;
    width: 25%
}

img{
    width: 150px;
    height: 150px;
    float: right;
    margin-right: -20px;
    margin-bottom: 10px;
}

#subjectText{
    font-size: 15px;
    line-height: 5%;
    margin-top: 50px;
    margin-left: 10%;
}

#CartPage{
    margin-top: 20px;
    margin-left: 20%;
}